# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.out
*.app
test.txt

# MS Visual Studio files
*.vcxproj.user

IsoPoly/.vs
IsoPoly/openvdb
IsoPoly/x64

RenderingEngineLibrary/.vs
RenderingEngineLibrary/GLFW/obj
RenderingEngineLibrary/GLFW/lib/Release
RenderingEngineLibrary/JORL_Core/x64
RenderingEngineLibrary/JORL_Examples/x64
RenderingEngineLibrary/JORL_Extensions/x64
RenderingEngineLibrary/JORL_Text/x64
RenderingEngineLibrary/JORL_VR/x64
RenderingEngineLibrary/JORL_VR_Examples/x64
RenderingEngineLibrary/x64

ViNE/.vs
ViNE/x64
ViNE/ViNE/x64
ViNE/BUILD_PACKAGE/x64
ViNE/BUILD_PACKAGE/BUILD_PACKAGE.log